<div class="min-h-screen flex flex-col bg-base-200" data-theme="corporate">
  <app-header></app-header>

  <div class="drawer lg:drawer-open flex-1 overflow-hidden">
    <input id="app-drawer" type="checkbox" class="drawer-toggle" />

    <main class="drawer-content h-full overflow-y-auto p-6">
      <router-outlet></router-outlet>
    </main>

    <div class="drawer-side z-20">
      <label for="app-drawer" aria-label="Close menu" class="drawer-overlay"></label>
      <app-sidebar class="w-64 min-h-full bg-base-100 border-r border-base-200"></app-sidebar>
    </div>
  </div>
</div>
